body{
    background-color: cyan;
}
h1{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}
section{
    background-color: #E0FFFF;
}
button{
    background-color: orange;
}

.main{
    text-align: center;
    justify-content: center;
}